.modal {
    position: fixed;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 500px;
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-form label {
    margin-top: 10px;
    font-weight: bold;
}

.task-form input,
.task-from textarea,
.task-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.create-btn {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.add-task-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}